// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$white: rgb(255, 255, 255);
// $light-gray: #F4F4F4;


$fluo-pink: #d90368;
$light-pink: #e87ea1;
$pale-pink: #fbb7c0;
$black: #0c0c0c;
$light-gray: #d3d3d3;
