// Desktop & Tablet Landscape

@media screen and (min-width: 1024px) {

  .enter-wrapper {
    background-color: $light-pink;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    h1 {
      font-family: $r-font;
      color: $white;
      font-size: 50px;
    }

    .enter-content {
      padding-left: 120px;
      padding-right: 30px;
    }

    .enter-scroller {
      font-family: $ds-font;
      font-size: 60px;
      color: $fluo-pink;
      line-height: 1;
      letter-spacing: 0;
      background-color: $white;
      width: 700px;
      height: 85px;
      padding-top: 10px;
      overflow: hidden;
      margin: 0;
      position: relative;

      .enter-scroller-item {
        padding-left: 20px;
        height: 85px;
        animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      }
    }

    .enter-debug-2 {
      display: none;
    }
  }

  @-webkit-keyframes scroll {
    0.0% {
      transform: translateY(0px)
    }
    7% {
      transform: translateY(0px)
    }
    20% {
      transform: translateY(-85px)
    }
    27% {
      transform: translateY(-85px)
    }
    40% {
      transform: translateY(-170px)
    }
    47% {
      transform: translateY(-170px)
    }
    60% {
      transform: translateY(-255px)
    }
    67% {
      transform: translateY(-255px)
    }
    80% {
      transform: translateY(-340px)
    }
    87% {
      transform: translateY(-340px)
    }
    100.0% {
      transform: translateY(-425px)
    }
  }
}


// Tablet Portrait & Mobile Landscape

@media screen and (max-width: 768px) {

  .enter-wrapper {
    background-color: $light-pink;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  h1 {
    font-family: $r-font;
    color: $white;
    font-size: 20px;
  }

  .enter-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .enter-scroller {
    font-family: $ds-font;
    font-size: 20px;
    color: $fluo-pink;
    line-height: 1;
    letter-spacing: 0;
    background-color: $white;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    overflow: hidden;
    margin: 0;
    position: relative;

    .enter-scroller-item {
      height: 45px;
      animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      text-align: center;
    }


  }

  .enter-debug {
      display: none;
    }

  @-webkit-keyframes scroll {
    0.0% {
      transform: translateY(0px)
    }
    7% {
      transform: translateY(0px)
    }
    20% {
      transform: translateY(-45px)
    }
    27% {
      transform: translateY(-45px)
    }
    40% {
      transform: translateY(-90px)
    }
    47% {
      transform: translateY(-90px)
    }
    60% {
      transform: translateY(-135px)
    }
    67% {
      transform: translateY(-135px)
    }
    80% {
      transform: translateY(-180px)
    }
    87% {
      transform: translateY(-180px)
    }
    100.0% {
      transform: translateY(-225px)
    }
  }
}

