.enter-wrapper {
  background-color: $light-pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 120px;
  padding-right: 30px;
  position: relative;

  h1 {
    margin: 0;
    font-family: $r-font;
    color: $white;
  }

  // a {
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  //   font-size: 100%;
  //   vertical-align: baseline;
  //   background: transparent;
  //   text-decoration: none;
  //   color: $fluo-pink;
  //   // &:hover {
  //   //   text-decoration: underline;
  //   // }
  // }
}

.enter-scroller {
  font-family: $doand-font;
  font-size: 50px;
  color: $fluo-pink;

  #master {
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0;
  }

  #master-container {
    background-color: $white;
    animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    // -webkit-animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-align-items: center;
    // -ms-flex-align: center;
    align-items: center;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    // height: 100vmin;
    min-height: 0;
    max-height: 100%;
    width: 750px;
  }

  // #master-container .content {
  //   height: auto;
  //   margin-left: inherit;
  //   margin-right: inherit
  // }


  // RESPONSIVE

  // @media screen and (max-width: 615px) {
  //   #master-container {
  //       -webkit-animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  //       animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
  //   }
  // }

  // @media screen and (max-width: 615px) {
  //   #master {
  //       font-size: 40px;
  //       font-line: 1.2
  //   }
  // }

  // @media screen and (max-width: 615px) {
  //     #master-container-scroller {
  //         height: 48px;
  //         line-height: 1.2;
  //         margin-bottom: 0
  //     }
  //     #master-container-scroller .master-container-scroller_item {
  //         padding-bottom: 0;
  //         -webkit-animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  //         animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
  //     }
  // }

  #master-container-scroller {
    height: 85px;
    margin-bottom: -6px;
    overflow: hidden;
    position: relative
  }

  #master-container-scroller .master-container-scroller_item {
    //display: block;
    // padding-bottom: 17px;
    padding-left: 20px;
    height: 85px;
    // -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }

  // #master-container-scroller .master-container-scroller_item[href]:hover {
  //   text-decoration: underline
  // }

  // #master-container-grid .master-container-grid_item .img {
  //   position: relative
  // }

  // #master-container-grid .master-container-grid_item .grid_item-overlay {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   display: -webkit-flex;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-align-items: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  //   -webkit-justify-content: center;
  //   -ms-flex-pack: center;
  //   justify-content: center;
  //   font-size: 26px;
  //   font-weight: bold;
  //   color: #fff;
  //   opacity: 0;
  //   transition: opacity .3s ease-in-out;
  //   text-decoration: none
  // }

  // #master-container-grid .master-container-grid_item .grid_item-overlay:hover {
  //   opacity: 1
  // }

  // #master-container-grid .master-container-grid_item .grid_item-overlay .link {
  //   display: inline-block;
  //   box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
  //   transition: box-shadow .2s ease
  // }

  // #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
  //   box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
  // }

  @-webkit-keyframes scroll {
    0.0% {
      // -webkit-transform: translateY(0px);
      transform: translateY(0px)
    }
    7% {
      // -webkit-transform: translateY(0px);
      transform: translateY(0px)
    }
    20% {
      // -webkit-transform: translateY(-85px);
      transform: translateY(-85px)
    }
    27% {
      // -webkit-transform: translateY(-85px);
      transform: translateY(-85px)
    }
    40% {
      // -webkit-transform: translateY(-170px);
      transform: translateY(-170px)
    }
    47% {
      // -webkit-transform: translateY(-170px);
      transform: translateY(-170px)
    }
    60% {
      // -webkit-transform: translateY(-255px);
      transform: translateY(-255px)
    }
    67% {
      // -webkit-transform: translateY(-255px);
      transform: translateY(-255px)
    }
    80% {
      // -webkit-transform: translateY(-340px);
      transform: translateY(-340px)
    }
    87% {
      // -webkit-transform: translateY(-340px);
      transform: translateY(-340px)
    }
    100.0% {
      // -webkit-transform: translateY(-425px);
      transform: translateY(-425px)
    }
  }


}
