<div class="enter-wrapper">
  <h1>Vous êtes</h1>
  <div class="enter-scroller">
    <div class='masthead-image' id='master-container'>
      <div class='content center'>
        <div id='master'>
          <div id='master-container-scroller'>
            <div class='master-container-scroller_item'>
              une patiente/une patient.
            </div>
            <div class='master-container-scroller_item'>
              un proche.
            </div>
            <div class='master-container-scroller_item'>
              son compagnon/sa compagne.
            </div>
            <div class='master-container-scroller_item'>
              son ami/son amie.
            </div>
            <div class='master-container-scroller_item'>
              une curieuse/un curieux.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>en quête d'une réponse ?</h1>

  <br>
  <br>

  <h1>Nous avons crée ce site pour vous.</h1>

  <%= link_to home_path do %>
    <div class= "big-fluopink-circle">
      <p>Entrer</p>
    </div>
  <% end %>
</div>
