<div class="enter-wrapper">

  <div class="enter-content">
    <h1>Vous êtes</h1>

    <div class="enter-scroller">
      <div class="enter-scroller-item">Une patiente / Un patient</div>
      <div class="enter-scroller-item">Un proche</div>
      <div class="enter-scroller-item">Son compagnon / Sa compagne</div>
      <div class="enter-scroller-item">Son amie / Son ami</div>
      <div class="enter-scroller-item">Un curieux / Une curieuse</div>
    </div>

    <div class="enter-debug">
      <h1>
        en quête d'une réponse ?

        <br>
        <br>

        Ce site a été crée pour vous.
      </h1>
    </div>

    <div class="enter-debug-2 text-center">
      <h1>
        en quête d'une réponse ?

        <br>
        <br>

        Ce site a été crée pour vous.
      </h1>
    </div>

  </div>

  <%= link_to home_path do %>
    <div class="big-fluopink-circle">
      <p>Entrer</p>
    </div>
    <div class="big-fluopink-circle-mobile">
      <p>Entrer</p>
    </div>
  <% end %>
</div>
