<div class="enter-wrapper">
  <h1>Vous êtes</h1>
  <h1>et vous avez besoin de comprendre le cancer du sein.</h1>

  <div class="enter-scroller">
    <div class='masthead-image' id='master-container'>
      <div class='content center'>
        <div id='master'>
          <div id='master-container-scroller'>
            <div class='master-container-scroller_item'>
              <a class='cta-link' href='#'>une patiente/une patient.</a>
            </div>
            <div class='master-container-scroller_item'>
              <a class='cta-link' href='#'>un proche.</a>
            </div>
            <div class='master-container-scroller_item'>
              <a class='cta-link' href='#'>son compagnon/sa compagne.</a>
            </div>
            <div class='master-container-scroller_item'>
              <a class='cta-link' href='#'>son ami/son amie.</a>
            </div>
            <div class='master-container-scroller_item'>
              <a class='cta-link' href='#'>une curieuse/un curieux.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Ce site a été conçu pour vous.</h1>

  <%= link_to home_path do %>
    <button class= "big-fluopink-circle"></button>
  <% end %>
</div>
